.gameBoard {
  margin: 10px auto;
  padding: 50px 50px;
  width: 80%;
  background-color: bisque;
}
.inputField {
  background: rgba(255,255,255,.3);
  border-color: rgba(255,255,255,.6);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  line-height: 30px;
  list-style: none;
  padding: 5px 10px;
  margin-bottom: 2px;
}
.legendFeild {
  color:#302A2A;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  text-align: left;
  text-shadow: 2px 2px 2px rgb(88, 126, 156);
}
.number {
  width: 120px;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  height: 44px;
  margin: 25px auto;
  margin-left: 25px;
  outline: none;
  border: none;
  font-size: 2.8rem;
  text-align: center;
}
.submitButton {
  width: 180px;
  height: 40px;
  margin: 30px;
  color: #ffac71;
  background-color: bisque;
  border-radius: 15px;
  border-color: white;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 24px;
}
